
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url('backk.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  max-width: 400px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  font-size: 16px;
  outline: none;
}

.login-container input::placeholder {
  color: #ddd;
}

.login-container button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #00b894;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background-color: #019875;
}

.login-container .register-link {
  margin-top: 20px;
  display: block;
  color: #ddd;
  text-decoration: none;
  font-size: 14px;
}

.login-container .register-link:hover {
  text-decoration: underline;
}
.loca{
  position: relative;
  right:100px;
  cursor: pointer;
}
.loca:hover{
  text-decoration: underline;
}